{% extends 'patientinfo.html' %}
{% load static %}
{% block title %}
<title>Book Appointment</title>
{% endblock %}
{% block css %}
<style>
  /* Admin CSS */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

  .container {
    max-width: 900px;
    width: 100%;
    height: 500px;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin-left: 275px;
    margin-top: 90px;
    margin-bottom: 30px;
  }

  .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }

  .container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }

  .content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 0 0px 0;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }

  form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
    border-color: #9b59b6;
  }

  form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
  }

  form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
  }

  form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
  }

  .input-box1 {
    width: 100%;
    height: 45px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    border-color: #9b59b6;
  }

  form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }

  #dot-1:checked~.category label .one,
  #dot-2:checked~.category label .two,
  #dot-3:checked~.category label .three {
    background: #9b59b6;
    border-color: #d9d9d9;
  }

  form input[type="radio"] {
    display: none;
  }

  form .button {
    height: 45px;
  }

  form .button input {
    height: 100%;
    width: 50%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }

  form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }

  #popup-1 {
    display: none;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
  }

  #popup-2 {
    display: none;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .popup-content {
    position: relative;
    padding: 20px;
    margin-top: 150px;
    margin-left: 520px;
    background-color: white;
    width: 400px;

    top: 5vh;
  }

  #close-popup-1 {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
  }

  #close-popup-2 {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #fb5283, #ff3527);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
  }

  .content form .user-details {
    margin-top: 20px;
  }

  @media(max-width: 584px) {
    .container {
      width: 100%;
      max-width: 100%;
      box-shadow: none;
      padding: 0;
      margin-left: 0;
    }
    .content{
      margin-left: -250px;
    }
    .user-details{
      margin-left: 0;
    }

    .title {
      margin-left: -250px;
      margin-top: -50px;
    }

    form .user-details .input-box {
      margin-bottom: 15px;
      width: 90%;
    }

    form .category {
      width: 80%;
    }

    .content form .user-details {
      max-height: 300px;
      overflow-x: scroll;
      width: 300px;
      margin-left: 300px;
      margin-top: 20px;
    }
    .container .title {
      margin-left: 50px;
    }

    .gender-details {
      margin-left: 300px;
    }
    form .button{
      padding-bottom: 50px;
    }
    form .button input {
      margin-left: 300px;
      width: 40%;
    }

    .user-details::-webkit-scrollbar {
      width: 5px;
    }

    .popup-content {
      position: relative;
      padding: 20px;
      margin-top: 150px;
      margin-left: 17px;
      background-color: white;
      width: 300px;

      top: 5vh;
    }

  }

  @media(max-width: 459px) {
    .container .content .category {
      flex-direction: column;
    }

  }

  /* End Style css */
</style>
{% endblock %}
{% block body_block%}
<div class="container">
    <div class="title">Book Appointemnt</div>
    <div class="content">
      <form method="post">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Doctor's Name and Field</span>
            <select class="input-box1" name="doctorname">
              {% for d in alldoctors %}
              <option value="{{d.name}}">DR {{d.name}}----->{{d.specialization}}</option>
              {% endfor %}
            </select>

          </div>
          <div class="input-box">
            <span class="details">Name</span>
            <input type="text" placeholder="Enter your username" value="{{user.username}}" name="username" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" value="{{user.email}}" name="patientemail" required>
          </div>
          <div class="input-box">
            <span class="details">Appointemnt Date</span>
            <input class="form-control" type="date" name="appointmentdate" required="">
          </div>
          <div class="input-box">
          <span class="details">Appointemnt Time</span>
          <!--<input class="form-control" type="time" placeholder="enter time" name="appointmenttime" required="">-->
          <select name="appointmenttime" placeholder="enter time" class="input-box1" required="">
            <option value="10 AM - 01 PM">10 AM - 01 PM</option>
            <option value="04 PM - 07 PM">04 PM - 07 PM</option>
          </select>
        </div>
          <div class="input-box">
            <span class="details">Symptoms</span>
            <input type="text" name="symptoms" required>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1" value="Male">
          <input type="radio" name="gender" id="dot-2" value="Female">
          <input type="radio" name="gender" id="dot-3" value="Prefer Not To Say">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Male</span>
            </label>
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Female</span>
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div>

        <div class="button" id="open-popup-1">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
</div>
<div id="popup-1">
  <div class="popup-content">
    <h2>Sorry For Inconveniance</h2>
    <p>
      Appointments has been full for day.Please Try on next day or contact to receptionist.
    </p>
    <button id="close-popup-1">Close</button>
  </div>
</div>

<div id="popup-2">
  <div class="popup-content">
    <h2>Thanks You for booking in hospital.</h2>
    <p>
      Appointemnt booked Succesfully. You can now visit hospital.
    </p>
    <button id="close-popup-2">Close</button>
  </div>
</div>
{% ifequal error "no" %}

<script type="text/javascript">
  var popup2 = document.getElementById("popup-2")
  var openPopup1 = document.getElementById("open-popup-1")
  var closePopup2 = document.getElementById('close-popup-2')
  popup2.style.display = "block";

  closePopup2.addEventListener('click', () => {
    popup2.style.display = "none";
    window.location = ("{% url 'makeappointments' %}")
  })
</script>

{% endifequal%}

{% ifequal error "yes" %}

<script type="text/javascript">
  /*alert('{{e}}')*/

  var popup1 = document.getElementById("popup-1")
  var openPopup1 = document.getElementById("open-popup-1")
  var closePopup1 = document.getElementById('close-popup-1')
  popup1.style.display = "block";

  closePopup1.addEventListener('click', () => {
    popup1.style.display = "none";
    window.location = ("{% url 'makeappointments' %}")
  })
</script>
{% endifequal%}

{% endblock %}
