{% extends 'patientinfo.html' %}
{% load static %}
{% block title %}
<title>patient Profile</title>
{% endblock %}
{% block css %}

<style>
  @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

  body {
    background-color: #f3f3f3;
  }

  .wrapper {
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 850px;
    height: 70%;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
    display: flex;


  }

  .wrapper .left {
    width: 35%;
    background: #303036;
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
  }

  .wrapper .left img {
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .wrapper .left h4 {
    margin-bottom: 10px;
  }

  .wrapper .left p {
    font-size: 12px;
  }

  .wrapper .right {
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .wrapper .right .info,
  .wrapper .right .projects {
    margin-bottom: 60px;
  }

  .wrapper .right .info h3,
  .wrapper .right .projects h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .wrapper .right .info_data,
  .wrapper .right .projects_data {
    display: flex;
    justify-content: space-between;
  }

  .wrapper .right .info_data .data,
  .wrapper .right .projects_data .data {
    width: 45%;
  }

  .wrapper .right .info_data .data h4,
  .wrapper .right .projects_data .data h4 {
    color: #353c4e;
    margin-bottom: 5px;
  }

  .wrapper .right .info_data .data p,
  .wrapper .right .projects_data .data p {
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
  }

  .wrapper .social_media ul {
    display: flex;
  }

  .wrapper .social_media ul li {
    width: 45px;
    height: 45px;
    background: linear-gradient(to right, #303036, #55555e);
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
  }

  .wrapper .social_media ul li a {
    color: #fff;
    display: block;
    font-size: 18px;
  }


  @media (max-width: 850px) {
    .wrapper {
      grid-template-columns: 1fr;
      width: 230px;
      margin-left: -90px;
      margin-top: 40px;
      z-index: -1;


    }
  }
</style>
{% endblock %}
{% block body_block%}
{% for d in patient_details %}
<div class="wrapper">
  <div class="left">
    {%if d.profileimg %}
    <img src="{{d.profileimg.url}}" alt="user" width="100">
    {% else %}
    <img src="{%static 'img/default-pic.jpg'%}" alt="gotta" width="100">
    {%endif%}
    <h4>{{ d.name }}</h4>
    <div style="margin-top: 15%;">
      <h5>Phone number</h5>
      <p>{{ d.phonenumber }}</p>
    </div>
  </div>
  <div class="right">
    <div class="info">
      <h3>Information</h3>
      <div class="info_data">
        <div class="data">
          <h4>Email</h4>
          <p>{{ d.email }}</p>
        </div>
        <div class="data">
          <h4>Age</h4>
          <p>21</p>
        </div>
      </div>
    </div>

    <div class="info">
      <div class="info_data">
        <div class="data">
          <h4>Gender</h4>
          <p>{{ d.gender }}</p>
        </div>
        <div class="data">
          <h4>BloodGroup</h4>
          <p>{{ d.bloodgroup }}</p>
        </div>
      </div>
    </div>

    {% endfor %}


  </div>
</div>

{% endblock %}
