<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
</body>
</html>

{%extends "login1.html"%}
    {% block body %}
    <div class="auth-content">

        <h1>Reset your password</h1>
{% if validlink %}

<form action="." method="post">
    <p>Please enter your new password twice:</p>
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Change my password" class="btn btn-big "/></p>
</form>
{% else %}
<p>The password reset link was invalid, possibly because it has
 already been used. Please request a new password reset.</p>
{% endif %}
       
</div>>

  
 
    {% endblock %}